/* -----------------------------------------------------CODE SOURCE--------------------------------------------------------- */
          
          /* ENTÊTE FIXE STYLE*/
          .fixed-top 
          {
            display: flex;
            justify-content: flex-end;
            margin-right: 2vh;
            font-size: 1.2em;
          }
          .logo 
          {
            width: 100%;
            display: flex;
            justify-content: center;
            align-items: center;
            height: 25vh;
          }

          /* LOGO TITRE STYLE */
          .logo #logoTitre
          {
            width: 25%;
          }

          /* NAVBAR STYLE */
          .bg-dark 
          {
            background-color: white !important;
          }
          .navbar-dark .navbar-toggler 
          {
            color: black;
            border-color: transparent;
          }
          .navbar-dark .navbar-nav .active>.nav-link, .navbar-dark .navbar-nav .nav-link.active, .navbar-dark .navbar-nav .nav-link.show, .navbar-dark .navbar-nav .show>.nav-link 
          {
            color: black;
          }
          .navbar-dark .navbar-nav .nav-link 
          {
            color: black !important;
            font-size: x-large;
          }
          
          /* LOGO HOME STYLE */
          #tailleLi
          {
            height: 5vh;
            width: 7%;
          }
          #tailleA
          {
            width: 100%;
          }
          #logoHome
          {
            width: 100%;
            position: relative;
            top: -0.9vh;
          }
          .navMarg
          {
            margin-left: 10vh;
          }

          /* DROPDOWN MENU */
          .dropdown-menu
          {
            left: 8vh;
            border: none;
          }

          
          

/* -----------------------------------------------------RESPONSIVE--------------------------------------------------------- */

/* ------------------------------------------------------FORMAT PC-------------------------------------------------------- */
            
@media screen and (min-width: 769px) and (max-width: 2560px) 
            {
              /* ENTÊTE FIXE STYLE */
              .fixed-top
              {
                font-size:1.5em;
              } 

              /* ICONE TEL ENTÊTE FIXE STYLE */
              #fass 
              {
                display: none;
              }

              /* LOGO STYLE */

              .logo #logoTitre
              {
                width: 40%;
              } 

              /* HOVER LIENS */
              .colorJ:hover
              {
                background-color: #fef200;
                border-radius: 5px;
              }
              .colorB:hover
              {
                background-color: RGB(37, 170, 226);
                border-radius: 5px;
              }
              .colorV:hover
              {
                background-color: #00a652;
                border-radius: 5px;
              }

              /* HOVER LIENS DROPDOWN */
              .dropdown-item01:hover 
              {
                background-color: #fef200 !important;
                border-radius: 5px !important;
                opacity: 0.5 !important;
              }

              /* hover style lien 3D */
              .dropdown-item02:hover 
              {
                background-color: #fef200 !important;
                border-radius: 5px !important;
                opacity: 0.5 !important;
              }

              /* hover style lien Nettoyage */
              .dropdown-item03:hover 
              {
                background-color: #25aae2 !important;
                border-radius: 5px !important;
                opacity: 0.5 !important;
              }

              /* hover style lien Espace Verts */
              .dropdown-item04:hover 
              {
                background-color: #00a652 !important;
                border-radius: 5px !important;
                opacity: 0.5 !important;
              }
            }

/* ---------------------------------------------------------FORMAT TABLETTE----------------------------------------------------- */
            
@media screen and (min-width: 451px) and (max-width: 768px) 
            {

            /* ENTÊTE FIXE STYLE */
              .fixed-top 
              {
                width: 50% !important;
                float: right !important;
                padding-left: 27vh !important;
                position: inherit !important;
                font-size:1.2em;
                display: block;
              }
              /* ICONE TEL ENTÊTE FIXE STYLE */
              #fas 
              {
                display: none;
              }

              /* LOGO STYLE */
              .logo #logoTitre
              {
                width: 60%;
              }

              /* LOGO HOME STYLE */
              .navMarg
              {
                margin-left: 4vh;
              }

              /* DROPDOWN STYLE */
              .dropdown-menu 
              {
                left: 2vh;
              }
            }

/* --------------------------------------------------------FORMAT MOBILE------------------------------------------------------ */
          
@media screen and (max-width: 450px) 
          {
            /* ENTÊTE FIXE STYLE */

            .fixed-top 
            {
              justify-content: space-between !important;
              width: 100% !important;
            }
            /* ICONE TEL ENTÊTE FIXE STYLE */

            #fas 
            {
              display: none;
            }
            /* NUMERO */

            #num 
            {
              width: 50%;
              padding-left: 4vh;
            }
            /* NOM */

            #nom 
            {
              width: 35%;
            }
            /* LOGO STYLE */

            .logo #logoTitre 
            {
              width: 90%;
            }
            
            /* MENU BURGER */
            .textMenu
            {
              margin-bottom: 0;
            }
            #tailleLi 
            {
              width: 10%;
            }
            .nav-item
            {
              margin-left: auto;
              margin-right: auto;
            }
            .nav-link
            {
              margin: 0;
            }
            .navbar-dark .navbar-nav .active>.nav-link, .navbar-dark .navbar-nav .nav-link.active, .navbar-dark .navbar-nav .nav-link.show, .navbar-dark .navbar-nav .show>.nav-link 
            {
              text-align: center;
            }
            .navbar-nav .dropdown-menu 
            {
              text-align: center;
            }
          }

/* ---------------------------------------------------------- */
    
@media (min-width: 576px)
          {
            .textMenu {
                display: none;
            }
          }