/* HEADER */
.headline {
  z-index: 1;
  background-color: #ffffff;
  position: relative;
}
.col-md-6{
    float:none !important;
}
.logo
{
    width: 100%;
}
  /* nav */

  .HoverBleu:hover
  {
    background-color: rgba(0, 174, 239, 0.5);
    color:black;
    text-decoration:none;
  }


  .HoverVert:hover
  {
    background-color: rgba(0, 166, 81, 0.5);
    color:black;
    text-decoration:none;
  }

.h4{
    color:black;
    text-decoration:none;
}

  .HoverJaune:hover
  {
    background-color: rgba(255, 242, 0, 0.5);
    color:black;
    text-decoration:none;
  }
.LinkDecorationNone , .LinkDecorationNone:hover
{
  text-decoration:none;
  color:black;
}

/* --------------------------v A GARDER v-------------------------------- */
.BackgroundNav{
    background-color: #ffffffb8;
}
    .Background-Bleu
    {
      background-color: rgba(0, 174, 239, 0.5);
    }
    .Background-Vert
    {
      background-color: rgba(0, 166, 81, 0.5);
    }
    .Background-Jaune
    {
      background-color: rgba(255, 242, 0, 0.5);
    }
    /* box de même taille */
    .align-box {
      min-height: 10em !important;
  }
  /* image des com */
  .img-circle {
    border-radius: 50%;
  }

  .zoom:hover {
    transform: scale(1.5);
    position:relative;
    z-index: 5;
    transition: 1s;
  }


  


  /* test pour la partie galerie */
  .gallery-title
  {
      font-size: 2em;
      text-align: center;
      font-weight: 500;
      margin-bottom: 70px;
      transition: 1s;
  }
  .gallery-title:after {
      content: "";
      position: absolute;
      width: 7.5%;
      left: 46.5%;
      height: 45px;
      border-bottom: 1px solid #5e5e5e;
      transition: 1s;
  }
  .filter-button
  {
      font-size: 18px;
      border: 1px solid #42B32F;
      border-radius: 5px;
      text-align: center;
      margin-bottom: 30px;
      transition: 1s;
  
  }
  .filter-button:hover
  {
      font-size: 18px;
      border: 1px solid #42B32F;
      border-radius: 5px;
      text-align: center;
  
  }
  .btn-default:active .filter-button:active
  {
      transition: 5s;
  }
  
  .port-image
  {
      width: 100%;
  }

      /* ------------------------------------------responsive tablette pour les h1 ----------------------------------------------------------- */
      @media screen and (max-width: 768px) {
        .h1 , h1 {
            font-size: 1.5rem;
        }

        .footerhaut,
        .footerbas {
            font-size: 0.95em;
            font-family: 'Red Hat Display', serif;
        }
    }
  
/* ------------------------------------------------------------------------------------------------------------------------------ */


/* CSS FOOTER */

    header,nav,section {
        display: contents;
    }

    footer {
        /* background-color: white; */
        border-top: 1px solid black;
        font-size: 0.95em;
        font-family: 'Red Hat Display', serif;
        
    }
    /* CSS COULEUR FOOTER */

    .footerhaut {
        display: flex;
        justify-content: space-evenly;
        font-size: 0.95em;
        font-family: 'Red Hat Display', serif;
    }

    .footerbas {
        display: flex;
        justify-content: center;
        font-size: 0.95em;
        font-family: 'Red Hat Display', serif;
    }

    .colonne1 {

        width: 30%;
        align-items: center;
        color: black !important;
        text-decoration: none !important;
        display: flex;
        flex-direction: column;
        margin-top: 2%;
    }

    .ftext1 {
        text-decoration: none;
        color: black;
    }

    .ftext1:hover {
        text-decoration: none;
        color: black;
        background-color: blue;
        color: white;
    }

    .colonne2 {

        width: 30%;
        color: black !important;
        text-decoration: none !important;
        margin-top: 2%;
    }

    .ftext2 {
        text-decoration: none;
        color: black;
    }

    .ftext2:hover {
        text-decoration: none;
        color: black;
        background-color: blue;
        color: white;
    }

    .colonne3 {
        display: flex;
        align-items: center;
        width: 30%;
        justify-content: center;
        margin-top: 2%;
    }

    .insta {
        filter: drop-shadow(1px 2px 0px black);
    }
    
    .ordi {
        display: none;
    }

    /* -----------------------------------------responsive ecran pc----------------------------------------------------------- */

    @media screen and (min-width: 769px) and (max-width: 2560px) {
        .flogo {
            width: 10%;
        }

        .footerhaut,
        .footerbas {
            font-size: 0.95em;
            font-family: 'Red Hat Display', serif;
        }
    }

    /* ------------------------------------------responsive tablette----------------------------------------------------------- */
    @media screen and (min-width: 451px) and (max-width: 768px) {
        .flogo {
            width: 20%;
        }

        .footerhaut,
        .footerbas {
            font-size: 0.95em;
            font-family: 'Red Hat Display', serif;
        }
    }

    /* ------------------------------------------responsive telephone----------------------------------------------------------- */

    @media screen and (max-width: 450px) {
        footer {
            border-top: 1px solid black;
            font-size: 0.95em;
            font-family: 'Red Hat Display', serif;
        }

        .flogo {
            width: 50%;
            margin-bottom: 15%;
        }

        .footerhaut {
            flex-direction: column-reverse;
            font-family: 'Red Hat Display', serif;
        }

        .colonne2 {
            order: -1;
        }

        .footerhaut {
            align-items: center;
            text-align: center;
            font-size: 0.95em;
            font-family: 'Red Hat Display', serif;
        }

        .colonne3 {
            width: 100%;
            margin-bottom: 10%;
            margin-top: 2vh;
        }

        .footerhaut,
        .footerbas {
            font-size: 0.95em;
            font-family: 'Red Hat Display', serif;
        }
        


    }