
@media screen and (min-width: 1024px) {
.test {min-height: 98vh; display: flex;}
.test2 {width: 30%; min-height: 100vh; display: flex;}
.test3{display:none;}
.titrec {width: 100%; height: 40vh;}
.num {margin: 0 7vh; width: 75%; height: 10vh;}
.trait1 {width: 2%; border-left: 1px solid black; height: 95vh;}
.trait2 {display: none;}
.traitori{display: none;}
.espace{display: none;}
.for {width: 45%; height: 95vh;}
.radbox {height: 15vh; display: flex;}
.labe {width: 25%;}
.star{display: initial;width:75%; height: 15vh;}
.checkio{width:100%; height: 1vh; display: flex;}
.checkio1{width:100%; height: 10vh; display: flex;}
.put {width: 35.3%;}
.put1 {width: 33%; height: 6vh; margin-top: 3vh;}
footer {width: 100%; height: 23vh;}
.reseaux {width: 33.4%; height: 15vh;}
.reseaux img {height: 6.7vh; margin: 7vh auto;}
.fichec {width: 33.3%; height: 15vh;}
#customControlValidation1:checked~.custom-control-label::before {color: #fff200; border-color: #fff200; background-color: #fff200;}
#customControlValidation2:checked~.custom-control-label::before {color: #00aeef; border-color: #00aeef; background-color: #00aeef;}
#customControlValidation3:checked~.custom-control-label::before {color: #00a651; border-color: #00a651; background-color: #00a651;}
}
@media screen and (max-width: 1024px) {

    .test {
        min-height: 110vh;
        display: flex;
        justify-content: center;
    }
    .test2 {
        display: none;
    }
    .test3{
        display:flex;
        flex-direction: column;
        text-align: center;
        min-height: 17vh;
        width:100%;
        border-bottom: 1px solid grey;
    }
    .trait1{
        display: none;
    }
    .trait2{
        width: 100%;
        border-top: 1px solid #000;
        height: 0;
        align-items: center;
    }
    .titrec {
        height: 5vh;
        text-align: center;
    }
    .traitori
    {
        background-color: black;
        height: 2px;
    }
    .espace{
        margin-top: 5px;
    }
    .radbox {
        height: 15vh;
        display: flex;
    }

    .labe {
        width: 25%;
    }

    .star{
        display: initial;
        width:75%;
        height: 15vh;
    }

    .checkio{
        width:100%;
        height: 4vh;
        display: flex;
    }

    .checkio1{
        width:100%;
        height: 10vh;
        display: flex;
    }

    .put {
        width: 33.3%;
        min-height: 2vh;
    }

    .put1 {
        width: 33%;
        height: 6vh;
        margin-top: 1vh;
    }

}
@media screen and (min-width: 320px) and (max-width: 425px) {

    .radbox {
        height: 15vh;
        display: flex;
    }

    .labe {
        width: 25%;
    }

    .star{
        display: initial;
        width:75%; 
        height: 15vh;
    }

    .checkio{
        width:100%;
        height: 4vh;
        display: flex;
    }

    .checkio1{
        width:100%;
        height: 10vh;
        display: flex;
    }

    .put {
        width: 33.3%;
        min-height: 2vh;
    }

    .put1 {
        width: 33.3%;
        height: 6vh;
    }
    
}