

.imgligne1 {
    display: flex;
    align-items: center;
    justify-content: center;
}

.imgligne2 {
    display: flex;
    align-items: center;
    justify-content: center;
}
.imgligne3
{
    background-color: red;
}


/* RESPONSIVE */

/*TABLETTE*/
@media screen and (max-width: 768px) and (min-width: 451px)
{
    .imgligne1
    {
        position: relative;
        width: 100%;
    }

    .imgligne2 .titre2 .text2 .bg
    {
        width: 100%;
    }
    .bg
    {
        width: 100%;
    }
    .imgligne2
    {
        width: 100%;
    }

}

/* PC */


@media screen and (max-width: 2560px) and (min-width: 769px)
{
    .imgligne1
    {
        position: relative;
        width: 100%;
    }

    .imgligne2 .titre2 .text2 .bg
    {
        width: 100%;
    }
    .bg
    {
        width: 100%;
    }
    .imgligne2
    {
        width: 100%;
    }

}

/* telephone */
@media screen and (max-width: 450px) 
{
    .imgligne1
    {
        position: relative;
        width: 100%;
    }

    .imgligne2 .titre2 .text2 .bg
    {
        width: 100%;
    }
    .bg
    {
        width: 100%;
    }
    .imgligne2
    {
        width: 100%;
    }

}

