

.imgligne1 {
    display: flex;
    align-items: center;
    justify-content: center;
}

.imgligne2 {
    display: flex;
    align-items: center;
    justify-content: center;
}
.imgligne3
{
    background-color: red;
}



/* RESPONSIVE */
/* ipad pro */


@media screen and (max-width: 1024px) 
{
    .imgligne1
    {
        position: relative;
        width: 100%;
    }

    .imgligne2 .titre2 .text2 .bg
    {
        width: 100%;
    }
    .bg
    {
        width: 100%;
    }
    .imgligne2
    {
        width: 100%;
    }

}

@media screen and (max-width: 375px) 
{
    .imgligne1
    {
        position: relative;
        width: 100%;
    }

    .imgligne2 .titre2 .text2 .bg
    {
        width: 100%;
    }
    .bg
    {
        width: 100%;
    }
    .imgligne2
    {
        width: 100%;
    }

}

