#container
{	
    width: 100%;
    height: 260vh;
    background-color: whitesmoke;
}
.fixed-top /*header*/
{
    display: flex;
    justify-content: flex-end;
    width: 80%;
}
.logo  /*header*/
{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 40vh;
}
nav  /*header*/
{
    width: 100%;
    display: flex;
    justify-content: center;
}
.flash /* Débaras*/
{
    color: #00aeef;
}
section /*carousel Entreprise*/
{
    width: 100%;
    height: 52vh;	
}
/*.sectionM Entreprise
{
    width: 100%;
    height: 18vh;
}*/
.ets /*Entreprise*/
{
text-align: center;
}
.activités /*Activités*/
{
    text-align: center;
}
.sectionB /*Activités*/
{
    display: flex;
    width: 100%;
    height: 48vh;
    justify-content: space-around;
}
.derat /*Activités*/
{
    width: 19.3%;
    text-align: center;
}
.nettoyage /*Activités*/
{
    width: 19.3%;
    text-align: center;
}
.espacevert /*Activités*/
{
    width: 19.3%;
    text-align: center;
}
.cible
{
    text-align: center;
}
main /*Professionnel Particulier*/
{
    height: 3vh;
    width: 97.5%;
    justify-content: center;
    margin-left: 1.5vh;
}
.pro
{
    width: 50%;
    height: 32vh;
    margin-right: 5%;
}
.part
{
    width: 50%;
    height: 32vh;
    margin-right: 5%;
}
.mainh /*Professionnel Particulier*/
{
    width: 100%;
    height: 38vh;
    display: flex;
    
}
.ppro
{
    width: 90%;
}
.mainb  /*avis*/
{
    width: 100%;
    height: 24vh;
    display: flex;
    JUSTIFY-CONTENT: space-around;
}
.carouL /*carousel avis gauche*/
{
    height: 18vh;
    width: 30%;
}
.carouR /*carousel avis droite*/
{
    height: 18vh;
    width: 30%;
}
.carousel-control-prev /*carousel avis droite et gauche*/
{
    WIDTH: 10%;
    HEIGHT: 18vh;
}
.carousel-control-next /*carousel avis droite et gauche*/
{
    WIDTH: 10%;
    HEIGHT: 18vh;
}

.sectionecom /*e-commerce*/
{
    height: 25vh;
    display: flex;
    justify-content: center;
}
.ecom
{
    text-align: center;

}
.img1
{
    margin-top: 30px;
    width: 40vh;
    height: 15vh;
}
.img3
{
    width: 210px;
    height: 190px;  
}
.img4
{
    width: 20px;
    height: 20px;
}
.imgC
{
    width: 1080px;
    height: 279px;
}
.imgM 
{
    width: 497px;
    height: 20vh;
    display: flex;
}
.imgl
{
    width: 500px;
    height: 25vh;
}
.imgp
{
    width: 250px;
    height: 25vh;
}
.fivetoile
{
    width: 40%;
}

/* Sur les écrans, quand la largeur de la fenêtre fait au maximum 1280px*/
@media screen and (min-width:769px) and (max-width: 2560x){
    #container
    {	
        width: 100%;
        height: 380vh;
        background-color: whitesmoke;
    }
    .fixed-top /*header*/
    {
        display: flex;
        justify-content: flex-end;
        width: 80%;
    }
    .logo  /*header*/
    {
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        height: 40vh;
    }
    nav  /*header*/
    {
        width: 100%;
        display: flex;
        justify-content: center;
    }
    .flash /* Débaras*/
    {
        color: #00aeef;
    }
    section /*carousel Entreprise*/
    {
        width: 100%;
        height: 52vh;	
    }
    .sectionM /*Entreprise*/
    {
        width: 100%;
    }
    .ets /*Entreprise*/
    {
    text-align: center;
    }
    .activités /*Activités*/
    {
        text-align: center;
    }
    .sectionB /*Activités*/
    {
        display: flex;
        width: 100%;
        height: 52vh;
        justify-content: space-around;;
    }
    .derat /*Activités*/
    {
        width: 19.3%;
        text-align: center;
    }
    .nettoyage /*Activités*/
    {
        width: 19.3%;
        text-align: center;
    }
    .espacevert /*Activités*/
    {
        width: 19.3%;
        text-align: center;
    }
    .cible
    {
        text-align: center;
    }
    main /*Professionnel Particulier*/
    {
        height: 3vh;
        width: 97.5%;
        justify-content: center;
        margin-left: 1.5vh;
    }
    .mainh /*Professionnel Particulier*/
    {
        width: 100%;
        height: 40vh;
        display: flex;
    }
    .mainb  /*avis*/
    {
        width: 100%;
        height: 18vh;
        display: flex;
    }
    .sectionecom /*e-commerce*/
    {
        height: 25vh;
        display: flex;
        justify-content: center;
        align-content: space-around;
    }
    .ecom
    {
        text-align: center;
    }
    .img1
    {
        margin-top: 30px;
        width: 40vh;
        height: 15vh;
    }
    .img3
    {
        width: 210px;
        height: 190px;  
    }
    .img4
    {
        width: 20px;
        height: 20px;
    }
    .imgC
    {
        width: 1080px;
        height: 279px;
    }
    .imgM 
    {
        width: 497px;
        height: 20vh;
        display: flex;
    }
}

/* Sur tous types d'écran tablette, quand la largeur de la fenêtre est comprise entre 451px et 768px */
@media all and (min-width: 451px) and (max-width: 768px){
    #container
    {	
        width: 100%;
        height: 380vh;
        background-color: whitesmoke;
    }
    .fixed-top /*header*/
    {
        display: flex;
        justify-content: flex-end;
        width: 80%;
    }
    .logo  /*header*/
    {
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        height: 40vh;
    }
    nav  /*header*/
    {
        width: 100%;
        display: flex;
        justify-content: center;
    }
    .flash /* Débaras*/
    {
        color: #00aeef;
    }
    section /*carousel Entreprise*/
    {
        width: 100%;
        height: 52vh;	
    }
    .sectionM /*Entreprise*/
    {
        width: 100%;
    }
    .ets /*Entreprise*/
    {
        text-align: center;
    }
    .activités /*Activités*/
    {
        text-align: center;
    }
    .sectionB /*Activités*/
    {
         height: 41vh;
    }
    .derat /*Activités*/
    {
        width: 33.3%;
        text-align: center;
    }
    .nettoyage /*Activités*/
    {
        width: 33.3%;
        text-align: center;
    }
    .espacevert /*Activités*/
    {
        width: 33.3%;
        text-align: center;
    }
    .cible
    {
        text-align: center;
    }
    main /*Professionnel Particulier*/
    {
        height: 3vh;
        width: 97.5%;
        justify-content: center;
        margin-left: 1.5vh;
    }
    .mainh /*Professionnel Particulier*/
    {
        width: 100%;
        height: 40vh;
        display: flex;
    }
    .sectionecom /*e-commerce*/
    {
        height: 25vh;
        display: flex;
        justify-content: center;
    }
    .ecom
    {
        text-align: center;
    }
    .img1
    {
        margin-top: 30px;
        width: 40vh;
        height: 15vh;
    }
    .img3
    {
        width: 210px;
        height: 190px;  
    }
    .img4
    {
        width: 20px;
        height: 20px;
    }
    .imgC
    {
        width: 1080px;
        height: 279px;
    }
    .imgM 
    {
        width: 100%;
        height: 20vh;
        display: flex;
    }
    
}
@media all and (max-width: 451px){
    #container
    {	
        width: 100%;
        height: 380vh;
        background-color: whitesmoke;
    }
    .fixed-top /*header*/
    {
        display: flex;
        justify-content: flex-end;
        width: 80%;
    }
    .logo  /*header*/
    {
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        height: 40vh;
    }
    nav  /*header*/
    {
        width: 100%;
        display: flex;
        justify-content: center;
    }
    .flash /* Débaras*/
    {
        color: #00aeef;
    }
    section /*carousel Entreprise*/
    {
        width: 100%;
        height: 52vh;	
    }
    .sectionM /*Entreprise*/
    {
        width: 100%;
    }
    .ets /*Entreprise*/
    {
    text-align: center;
    }
    .activités /*Activités*/
    {
        text-align: center;
    }
    .sectionB /*Activités*/
    {

        height: 328vh;
    }
    .derat /*Activités*/
    {
        width: 19.3%;
        text-align: center;
    }
    .nettoyage /*Activités*/
    {
        width: 19.3%;
        text-align: center;
    }
    .espacevert /*Activités*/
    {
        width: 19.3%;
        text-align: center;
    }
    .cible
    {
        text-align: center;
    }
    main /*Professionnel Particulier*/
    {
        height: 3vh;
        width: 97.5%;
        justify-content: center;
        margin-left: 1.5vh;
    }
    .mainh /*Professionnel Particulier*/
    {
        width: 100%;
        height: 40vh;
        display: flex;
    }
    .mainb  /*avis*/
    {
        width: 100%;
        height: 18vh;
        display: flex;
    }
    .sectionecom /*e-commerce*/
    {
        height: 25vh;
        display: flex;
        justify-content: center;
    }
    .ecom
    {
        text-align: center;
    }
    .img1
    {
        margin-top: 30px;
        width: 40vh;
        height: 15vh;
    }
    .img3
    {
        width: 210px;
        height: 190px;  
    }
    .img4
    {
        width: 20px;
        height: 20px;
    }
    .imgC
    {
        width: 1080px;
        height: 279px;
    }
    .imgM 
    {
        width: 497px;
        height: 20vh;
        display: flex;
    }
}





