#container
{	
    width: 100%;
    height: 340vh;
    background-color: whitesmoke;
}
.fixed-top 
{
    display: flex;
    justify-content: flex-end;
    width: 80%;
}
.logo
{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 40vh;
}
nav
{
    width: 100%;
    display: flex;
    justify-content: center;
}
section /*carousel Entreprise*/
{
    width: 100%;
    height: 52vh;	
}
.flash /* Débaras*/
{
    color: #00aeef;
}
.carouselExampleIndicators
{
    padding: 0;
    padding-top: 0px;
    padding-right: 0px;
    padding-bottom: 0px;
    padding-left: 0px;
}
.sectionM /*Entreprise*/
{
    width: 100%;
}
.sectionB /*Activité*/
{
    display: flex;
    width: 100%;
}
main /*Professionnel Particulier*/
{
    background-color: whitesmoke;
    height: 3vh;
    width: 97.5%;
    justify-content: center;
    margin-left: 1.5vh;
}
.mainh
{
    width: 100%;
    height: 47vh;
    display: flex;
}
.mainb
{
    width: 100%;
    height: 40vh;
    display: flex;
}
.carouselslide
{
    border-left:1px solid gray; 
    align-content: center;
    width: 49%; 
    height: 20vh;
}
p
{   
    margin-top: 0;
    margin-bottom: 1rem;
    /* margin-top: 0; */
    /* margin-bottom: 1rem; */   
}
.A1
{
    width: 33.3%;
}
.img1
{
    margin-top: 30px;
    width: 40vh;
    height: 15vh;
}
.img3
{
    width: 210px;
    height: 190px;  
}
.img4
{
    width: 20px;
    height: 20px;
}
.imgC
{
    width: 1080px;
    height: 279px;
}
.imgM
{
    width: 300px;
    height: 40vh;
}





/* Sur les écrans, quand la largeur de la fenêtre fait au maximum 1280px */
@media screen and (min-width:769px) and (max-width: 2560x){
#container
    {	
        width: 100%;
        height: auto;
        background-color: whitesmoke;
    }
    section /*carousel*/
    {
        width: 100%;
        height: 40vh;	
    }
    .flash
    {
        color: #00aeef;
    }
    main
    {
        background-color: whitesmoke;
        border: 1px solid;
        height: 3vh;
        width: 97.5%;
        justify-content: center;
        margin-left: 1.5vh;
    }
    .carouselExampleIndicators
    {
        padding: 0;
        padding-top: 0px;
        padding-right: 0px;
        padding-bottom: 0px;
        padding-left: 0px;
    }
    .sectionM /*Entreprise*/
    {
        width: 100%;
    }
    .p1
    {
        width: 80%;
    }
    .sectionB/*Activité*/
    {
        display: flex;
    }
    p
    {   
        margin-top: 0;
        margin-bottom: 1rem;
        margin-left: 18px;   
    }
    .p2
    {
        width: 90%;
    }
    .A1
    {
        width: 33.3%;

    }
    .imgC
    {
        width: 1080px;
        height: 279px;
    }
    .img1
    {
        margin-top: 30px;
        width: 40vh;
        height: 15vh;
    }
    .img3
    {   
        width: 280px;
        height:200px;
    }
    .img4
    {
        width: 20px;
        height: 20px;
    }

}

/* Sur tous types d'écran tablette, quand la largeur de la fenêtre est comprise entre 451px et 768px */
@media all and (min-width: 451px) and (max-width: 768px){
#container
    {	
        width: 100%;
        height: auto;
        background-color: whitesmoke;
    }
    section /*carousel*/
    {
        width: 100%;
        height: 40vh;	
    }
    .flash
    {
        color: #00aeef;
    }
    main
    {
        background-color: whitesmoke;
        border: 1px solid;
        height: 3vh;
        width: 95.8%;
        justify-content: center;
        margin-left: 1.5vh;
        
    }
    .carouselExampleIndicators
    {
        padding: 0;
        padding-top: 0px;
        padding-right: 0px;
        padding-bottom: 0px;
        padding-left: 0px;
    }
    .sectionM /*Entreprise*/
    {
        width: 100%;
    }
    .p1
    {
        width: 80%;
    }
    .sectionB/*Activité*/
    {
        display: flex;
    }
    p
    {   
        margin-top: 0;
        margin-bottom: 1rem;
        margin-left: 18px;   
    }
    .p2
    {
        width: 90%;
    }
    .A1
    {
        width: 33.3%;

    }
    .imgC
    {
        width: 1080px;
        height: 279px;
    }
    .img1
    {
        margin-top: 30px;
        width: 40vh;
        height: 15vh;
    }
    .img3
    {   
        width: 200px;
        height: 200px;;
    }
    .img4
    {
        width: 20px;
        height: 20px;
    }

}
/* Vos règles CSS pour les mobiles ici */
@media all and (max-device-width: 450px){
    #container
    {	
        width: 100%;
        height: auto;
        background-color: whitesmoke;
    }
    section /*carousel*/
    {
        width: 100%;
        height: 40vh;	
    }
    .flash
    {
        color: #00aeef;
    }
    main
    {
        background-color: whitesmoke;
        border: 1px solid;
        height: 3vh;
        width: 97.5%;
        justify-content: center;
        margin-left: 1.5vh;
    }
    .carouselExampleIndicators
    {
        padding: 0;
        padding-top: 0px;
        padding-right: 0px;
        padding-bottom: 0px;
        padding-left: 0px;
    }
    .sectionM /*Entreprise*/
    {
        width: 100%;
    }
    .p1
    {
        width: 80%;
    }
    .sectionB/*Activité*/
    {
        display: flex;
    }
    p
    {   
        margin-top: 0;
        margin-bottom: 1rem;
        margin-left: 18px;   
    }
    .p2
    {
        width: 90%;
    }
    .A1
    {
        width: 33.3%;

    }
    .imgC
    {
        width: 1080px;
        height: 279px;
    }
    .img1
    {
        margin-top: 30px;
        width: 40vh;
        height: 15vh;
    }
    .img3
    {   
        width: 280px;
        height:200px;
    }
    .img4
    {
        width: 20px;
        height: 20px;
    }
    
}





