/* ENTÊTE FIXE STYLE--------------------------------------------code source css-----------------------------------------------------------------------*/
.fixed-top {
  display: flex;
  justify-content: flex-end;
  margin-right: 2vh;
  font-size: 1.2em;
}

#fass {
  display: none;
}

.logo {
  margin-top: 2.5em;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 20vh;
}

/* LOGO TITRE STYLE */
.logoTitre {
  height: 17vh;
  width: 49vw;
}

/* NAVBAR STYLE */
.bg-dark {
  background-color: white !important;
}

.navbar-dark .navbar-toggler {
  color: black;
  border-color: transparent;
}

.navbar-dark .navbar-nav .active>.nav-link,
.navbar-dark .navbar-nav .nav-link.active,
.navbar-dark .navbar-nav .nav-link.show,
.navbar-dark .navbar-nav .show>.nav-link {
  color: black;
}

.navbar-dark .navbar-nav .nav-link {
  color: black !important;
  font-size: x-large;
}

/* LOGO HOME STYLE */
#tailleLi {
  height: 5vh;
  width: 7%;
}

#tailleA {
  width: 100%;
}

.logoHome {
  width: 100%;
  position: relative;
  top: -0.9vh;
}

.navMarg {
  margin-left: 10vh;
}

/* DROPDOWN MENU */
.dropdown-menu {
  left: 8vh;
  border: none;
}

/* ----------RESPONSIVE--------------------------------------------FORMAT PC-------------------------------------------------------- */

@media screen and (min-width: 769px) and (max-width: 2560px) {

  /* ENTÊTE FIXE STYLE */
  .fixed-top {
    display: flex;
    justify-content: flex-end;
    margin-right: 2vh;
    font-size: 1.2em;
  }

  #fass {
    display: none;
  }

  .logo {
    margin-top: 2.5em;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 20vh;
  }

  /* LOGO TITRE STYLE */
  .logoTitre {
    height: 17vh;
    width: 49vw;
  }

  /* NAVBAR STYLE */
  .bg-dark {
    background-color: white !important;
  }

  .navbar-dark .navbar-toggler {
    color: black;
    border-color: transparent;
  }

  .navbar-dark .navbar-nav .active>.nav-link,
  .navbar-dark .navbar-nav .nav-link.active,
  .navbar-dark .navbar-nav .nav-link.show,
  .navbar-dark .navbar-nav .show>.nav-link {
    color: black;
  }

  .navbar-dark .navbar-nav .nav-link {
    color: black !important;
    font-size: x-large;
  }

  /* LOGO HOME STYLE */
  #tailleLi {
    height: 5vh;
    width: 7%;
  }

  #tailleA {
    width: 100%;
  }

  .logoHome {
    width: 100%;
    position: relative;
    top: -0.9vh;
  }

  .navMarg {
    margin-left: 10vh;
  }

  /* DROPDOWN MENU */
  .dropdown-menu {
    left: 8vh;
    border: none;
  }

}


/* ---------RESPONSIVE------------------------------------------------FORMAT TABLETTE----------------------------------------------------- */

@media screen and (min-width: 451px) and (max-width: 768px) {

  /* ENTÊTE FIXE STYLE */

  /* ICONE TEL ENTÊTE FIXE STYLE */

  /* LOGO STYLE */
  .logoTitre {
    height: 14vh;
    width: 60vw;
  }

  /* logo navbar */
  .logoHome {
    width: 7vw;
    position: relative;
    top: -0.9vh;
  }

  /* LOGO HOME STYLE */
  .navMarg {
    margin-left: 4vh;
  }

  /* DROPDOWN STYLE */
  .dropdown-menu {
    left: 2vh;
  }

  b,
  strong {
    font-weight: bolder;
    display: none;
  }
}

/* -------RESPONSIVE-------------------------------------------------FORMAT MOBILE------------------------------------------------------ */

@media screen and (max-width: 450px) {
  /* ENTÊTE FIXE STYLE */

  /*
  .fixed-top 
  {
    justify-content: space-between !important;
    width: 100% !important;
  } 
  */

  /* ICONE TEL ENTÊTE FIXE STYLE */

  /* 
  #fas 
  {
    display: none;
  }
  */

  /* NUMERO */

  #num {
    width: 50%;
    padding-left: 4vh;
  }

  /* NOM */

  #nom {
    width: 35%;
  }

  /* LOGO STYLE */

  .logoTitre {
    height: 11vh;
    width: 65vw;
  }

  /* MENU BURGER */
  .textMenu {
    margin-bottom: 0;
  }

  .fa,
  .fas {
    font-family: 'Font Awesome 5 Free';
    font-weight: 900;
    justify-content: center;
  }

  .logoHome {
    width: 10vw;
    position: relative;
  }

  #tailleLi {
    width: 10%;
  }

  .nav-item {
    margin-left: auto;
    margin-right: auto;
  }

  .nav-link {
    margin: 0;
  }

  .navbar-dark .navbar-nav .active>.nav-link,
  .navbar-dark .navbar-nav .nav-link.active,
  .navbar-dark .navbar-nav .nav-link.show,
  .navbar-dark .navbar-nav .show>.nav-link {
    text-align: center;
  }

  .navbar-nav .dropdown-menu {
    text-align: center;
  }

  .navbar-dark .navbar-toggler {
    color: black !important;
  }
}

/* ---------------------------------------------------------- */

@media (min-width: 576px) {
  .textMenu {
    display: none;
  }
}